<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedéx</title>
</head>
<body>
    <header>
    <nav>    
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
            </ul>
        </nav>
        <h1 id="tt_capa">Pokedex</h1>
        </header>
  
    <section id="pokedex">
        <% pokedex.forEach((item, index)=> { %>
             <a class="card" href="/details/<%= index %>">
           
                <div>Nome: <%= item.nome %></div>
                <div>Tipo: <%= item.tipo %></div>
                <div>Habilidade: <%= item.habilidade %></div>                
            </a>
        <% }) %> 
    </section>

    <script src="./js/script.js"></script>
</body>
</html>